
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="APP Caranya My Id, Web Aplikasi Yang Berguna Untuk 1000 Umat" />
    <meta name="author" content="AgustD" />
    <meta content='#007FFF' name='theme-color'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <base target="_blank"/>
    <title>Tentang Gua - Iqbal API</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins');
      *{
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow mb-3">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">Iqbal API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://docs-iqbal-api.herokuapp.com/">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://docs-iqbal-api.herokuapp.com/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">Tentang Gua</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://avatars.githubusercontent.com/miqbal-22" class="rounded-circle shadow mb-3" alt="Iqbal" width="150px" height="150px">
      </div>
        <p class="card-text text-shadow"> Hallo Ngentoters !, Web API Ini dibuat oleh gw sepenuhnya dan juga beberapa bantuan teman gw.<br/>Umur gw baru 17 tahun dan gw masih menjadi seorang pelajar di SMK Kemala Bhayangkari 1 Jakarta<br/>Ya udahh sih paling itu ajjh<br/>gw juga bukan programming programming amat tapi klo ditanya bisa, yaa bisa dikit dikit<br/>
        Oiya nama asli gw <b>Muhammad Iqbal pasti lu udah pada tau donk nama gw</b><br/>Yaa udahh lah yaa paling itu doank<b/><br/>Rest API ini juga dalam tahap pengembangan, jadi mohon doa dan dukungannya. semoga bisa bermanfaat untuk banyak orang<br/>Terimakasih.</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
